body {
    height: 400px;
    background-image: url("e2a3f767395688206be60fb8e9453b96.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    height: 550px;
  }